<h3>Empregos Ja</h3>
<h1><%= @job.title %></h1>
<p>
  Categoria: <%= @job.category %>
</p>
<p>
  Empresa: <%= @job.company %>
</p>
<p>
  Descricao: <%= @job.description %>
</p>
<p>
  Localidade: <%= @job.location %>
</p>
<p>
  <%= link_to 'Voltar', root_path %>
</p>
